body{
    background-color: burlywood;
}
h1{
    text-transform: uppercase;
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
  
}

.poster{
    width:50%;
    /* padding:100px; */
    margin-left: 25%;
    margin-top: 100px;
    color:white;
    font-family: "Dancing Script", cursive;
    text-align: center;
}

.motivation-img{
        border:5px solid white;
        width:500px;

}

p{
    font-family: "Dancing Script", cursive;
    font-size: xx-large;
}